
.text-green{
    color: #31C9A8;
}

.text-orange{
    color: #FD5C37;
}


.text-yellow{
    color: #FFA227;
}

.text-light-blue{
    color: #18E2E2;
}

.text-rose{
    color: #F4209F;
}

.text-blue{
    color: #1B4CFB;
}

.text-black{
    color: #000;
}